/* Navbar */
.login-button {
  border-color: #151451;
  background-color: transparent;
  color: #151451;
}

.login-button:hover {
  background-color: #151451;
  color: white;
}

.logout-button {
  border-color: #8B0000;
  background-color: transparent;
  color: #8B0000;
}

.logout-button:hover {
  background-color: #8B0000;
  color: white;
}
